.login_toggleMode {
  cursor: pointer;
  color: #0000ff;
}

.login_modal {
  text-align: center;
}

.login_reset {
  cursor: pointer;
}

.login_hiddenIcon {
  text-align: center;
  display: none;
}

.Box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_addIcon {
  cursor: pointer;
  color: gray;
}

.login_addIconLoaded {
  cursor: pointer;
  color: whitesmoke;
}

.createNewAccount {
  cursor: pointer;
}

.google_button {
  margin-bottom: 10px;
}